.about {
  position: relative;
  top: 0;
  width: 99%;
  background: url('../img/about/Group\ 40\ \(1\).svg');
  background-size: cover;
  margin-bottom: 7%;
  margin-top: 2%;
}

.about-img {
  margin-top: 20%;
}

.content {
  margin: 25% 0rem 0 5%;
}

.content h3 {
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.about_misson_vission {
  position: relative;
  top: 0;
  width: 100%;
  padding: 5% 0rem;
  background: url('../img/about/Group\ 41\ \(1\).svg');
  background-size: cover;
  margin-bottom: 0;
}

.content_mission {
}

.content_mission h3 {
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.mission_img {
  margin-top: 3%;
}

.butabt {
  background-color: white;
  color: black;
  padding: 1.5rem 1rem;
  margin-top: 4rem;
  border: none;
  border-radius: 15px;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.butabt:hover {
  background-color: white;
  color: yellowgreen;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.butactive{
  background-color: white;
  color: yellowgreen;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: white;
  color: yellowgreen;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: white;
  color: yellowgreen;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

/* responsive queries */

@media (min-width: 320px) and (max-width: 480px) {
  .about {
    background: none;
  }

  .about-img {
    height: 350px;
  }

  .vission_img {
    height: 350px;
    padding-top: 6rem;
    margin-bottom: 2rem;
  }

  .mission_img {
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .btn-primary {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  .about-img {
    height: 300px !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .vission_img {
    margin-bottom: 2rem;
  }

  .btn-primary {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }
}
